.footerSection {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0;
    background-color: #e0ecdc;
}

.container {
    width: 1400px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerDiv {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.leftFooter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;

    img {
        width: 90px;
    }
}

.inputBox {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #10634e;

    input {
        font-style: italic;
        color: #1b745e !important;
        font-family: crimson text, serif;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 0;
        border: none !important;
        box-shadow: none;
        font-size: 1rem;
        min-height: 48px;
        border-bottom: 1px solid rgba(8, 70, 21, 0);
        padding: 0 30px;
    }

    button {
        white-space: nowrap;
        padding-left: 30px;
        padding-right: 30px;
        min-height: 48px;
        font-weight: 400;
        background-color: #d8e3d5 !important;
        border: 1px solid #d8e3d5 !important;
        color: #10634e !important;
        font-family: 'Quicksand', sans-serif;
        font-size: 1rem;
        line-height: 1.5;
    }
}


.foot {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.foot h5:first-child {
    color: #0c5b47 !important;
    word-wrap: break-word;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.375rem;
}

.foot h5 {
    font-family: 'Crimson Text', serif;
    font-size: 1.125rem;
    font-weight: 400;
    color: #0c5b47 !important;
}


@media only screen and (max-width:576px) {
    .footerDiv{
        flex-direction: column;
        gap: 40px;
    }
}